<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram | replace: 'https://www.instagram.com/', '' | replace: '/', '' }}" href="{{ site.instagram }}" target="_blank" rel="noopener" alt="anchor link for social media instagram" aria-label="anchor link for social media instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin | replace: 'https://www.linkedin.com/in/', '' | replace: '/', '' }}" href="{{ site.linkedin }}" target="_blank"  rel="noopener" alt="anchor link for social media linkedin" aria-label="anchor link for social media linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github | replace: 'https://github.com/', '' | replace: '/', '' }}" href="{{ site.github }}" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener" alt="anchor link for email" aria-label="anchor link for email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
